body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#game-container {
    margin-top: 20px;
}

#tomato-image {
    width: 150px;
    height: 150px;
}

#buttons {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}